.aside {
  left: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  z-index: 10;
  max-width: 300px;
  width: 100%;
  color: purple;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 1440px) {
  .aside {
    position: fixed;
  }
}
